#header #tagline div, #header nav ul, #header #section {
  max-width: 940px;
  margin: 0 auto;
}

#header #section {
  overflow: hidden;
}

#header {
  background: #274f75;
  vertical-align: middle;
}
#header #section {
  height: 150px;
  line-height: 150px;
}
#header #section div {
  float: left;
}
#header #section a {
  display: block;
}
#header #section img {
  vertical-align: middle;
}
#header #section span {
  margin-top: 50px;
  color: white;
  display: block;
  float: right;
  line-height: 150px;
  margin-top: 35px;
}
#header #section p {
  line-height: 18px;
}
#header #section p:first-child {
  margin-bottom: 15px;
}
#header nav {
  background: #84bf0e;
  border-bottom: 1px solid #c31408;
}
#header nav ul {
  display: flex;
  width: 100%;
  list-style-type: none;
}
#header nav li a {
  display: block;
  padding: 12px 25px;
  text-decoration: none;
  color: #274f75;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  text-transform: capitalize;
  position: relative;
  transition: background 0.3s;
}
#header nav li a:hover {
  background: white;
}
#header nav li a:hover::after {
  background: #c31408;
}
#header nav li a::after {
  content: "";
  height: 6px;
  width: 100%;
  position: absolute;
  bottom: -6px;
  left: 0;
}
#header #tagline {
  background: url("../images/bg-header2.jpg");
  min-height: 456px;
  background-position-x: center;
  background-repeat: repeat;
}
#header #tagline div {
  padding-top: 31px;
}
#header #tagline div h1 {
  font-size: 60px;
  font-family: Arial;
  font-weight: 700;
  color: #274f75;
  max-width: 455px;
  line-height: 76px;
  margin-bottom: 30px;
}
#header #tagline div h1 p {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 25px;
  color: #274f75;
  max-width: 340px;
  line-height: 35px;
}

#content {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #3f3f3f;
  background: url(../images/bg-content.gif);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 960px;
  background-repeat: no-repeat;
  background-position: top center;
}
#content #home {
  background: url(../images/bg-home.gif);
  overflow: hidden;
  position: relative;
  width: 960px;
  background-repeat: no-repeat;
  background-position: top center;
}
#content #home div #aside {
  width: 599px;
  line-height: 1.5em;
  padding-top: 35px;
}
#content #home div #aside div h1 {
  padding-left: 20px;
  font-weight: 100;
  font-size: 28px;
}
#content #home div #aside div h1 .last {
  font-weight: 700;
  color: #c80808;
}
#content #home div #aside div a img {
  margin-left: 32px;
  border: 1px solid #c80808;
  float: left;
  padding: 8px;
}
#content #home div #aside div p {
  padding-left: 228px;
  text-align: justify;
}
#content #home div #aside ul {
  list-style: none;
  padding-left: 0;
  padding-top: 0;
  float: left;
}
#content #home div #aside ul li {
  border: none;
  float: left;
  padding-right: 25px;
  width: 260px;
}
#content #home div #calendar {
  overflow: hidden;
  margin-top: -257px;
}
#content #home div #calendar h3 {
  text-align: center;
  color: #c80808;
  font-size: 28px;
  margin-bottom: 16px;
  margin-top: 37px;
}
#content #home div #calendar ul {
  list-style-type: none;
  width: 280px;
  text-align: justify;
  margin-left: 22px;
}
#content #home div #calendar ul li {
  border-bottom: 1px solid #c6c6c6;
  padding-bottom: 14px;
}
#content #home div #calendar ul li div {
  padding-bottom: 1px;
}
#content #home div #calendar ul li div span {
  background: #274f75;
  color: #FEFEFF;
  float: left;
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
  padding: 3px 5px;
  text-align: right;
}
#content #home div #calendar ul li div p {
  line-height: 1.5em;
}
#content #home div #calendar ul li div h2 {
  font-size: 18px;
  font-weight: 100;
}
#content #home div #calendar ul li div h2 a {
  color: #274f75;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
